@import "https://style-ship.netlify.app/styles/main.css";

/*************** Home Page CSS ***************/

.home-page-wrapper{
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-page-branding-images{
  display: flex;
  justify-content: center;
}

.home-page-branding-images > img {
  width: 350px;
}

.home-page-content{
  width: 70vw;
}

.home-page-content-title{
  text-align: center;
  color: var(--primary-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

.home-page-content-description{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.home-page-content-cta{
  display: flex;
  justify-content: center;
}

/*************** Wishlist Page CSS ***************/

.wishlist-page-wrapper {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wishlist-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 8rem;
}

.wishlist-items-wrapper .card {
  width: 250px;
  height: auto;
}

/*************** Auth Page CSS ***************/

.auth-page-wrapper {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.auth-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 8rem;
}

.auth-page-wrapper .card{
  width: 500px;
}

/*************** Product Page CSS ***************/

.product-page-layout {
  display: grid;
  grid-template-columns: 20% 80%;
}

.product-display-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-display-wrapper .card {
  width: 230px;
  height: auto;
}

.sidebar-header-options-wrapper{
  display: flex;
  justify-content: space-between;
}

.sidebar-header-options{
  font-size: 18px;
  line-height: 24px;
}

.sidebar-header {
  padding: 2rem 1.125rem 0rem 1.125rem;
}

.main-content {
  padding: 2rem 2.5rem 0rem 2rem;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .product-page-layout {
    grid-template-columns: 1fr;
  }

  .main-content {
    padding: 1rem 2rem;
  }
}


